<a href="https://colab.research.google.com/github/7-clevengc-2/Data-Cookbook-Final/blob/main/DataCookbook_CClevenger.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Cookbook

**Name**: Catelyn Clevenger

**Collaborators**:

**Sources**:

*   CS-215 Project 4
*   CS-215 Project 7

## **Goal**:  I want to create a 'Data Cookbook' that demonstrates four different data science techniques I can refer back to during future projects.

In [1]:
#First, I will import the necessary package:
import pandas as pd

## **Question 1**: How can I sort data by multiple columns when I want one column to be ascending and the other column to be descending?

### 1) Load in the dataframe

In [2]:
# I will be looking at timestamp data from project 7.
timestamp = pd.read_csv('/Kaleo_extended_timestamp.csv')

### 2) Take a look at the dataframe to see if any columns are already sorted

In [3]:
# I can use .head() and .tail() to check a small sample of columns.  The timestamp and date_time columns appears to already be sorted.
# However, I want the dataframe to be sorted in ascending order for time_diff and descending order for date_time to find the
# (most current) period of time my partner was skipping songs on Spotify the most frequently.
print(timestamp.head())
print(timestamp.tail())

   Unnamed: 0         timestamp            date_time        time_diff  \
0           0  2025-03-15 02:10  2025-03-15 02:10:00              NaN
1           1  2025-03-15 02:10  2025-03-15 02:10:00  0 days 00:00:00
2           2  2025-03-15 02:10  2025-03-15 02:10:00  0 days 00:00:00
3          13  2025-03-15 02:11  2025-03-15 02:11:00  0 days 00:01:00
4          12  2025-03-15 02:11  2025-03-15 02:11:00  0 days 00:00:00

         date      time  month
0  2025-03-15  02:10:00      3
1  2025-03-15  02:10:00      3
2  2025-03-15  02:10:00      3
3  2025-03-15  02:11:00      3
4  2025-03-15  02:11:00      3
      Unnamed: 0         timestamp            date_time        time_diff  \
1436        1436  2025-04-11 03:08  2025-04-11 03:08:00  0 days 00:04:00
1437        1437  2025-04-11 03:11  2025-04-11 03:11:00  0 days 00:03:00
1438        1438  2025-04-11 03:15  2025-04-11 03:15:00  0 days 00:04:00
1439        1439  2025-04-11 03:17  2025-04-11 03:17:00  0 days 00:02:00
1440        1440  2025-04-11 03:19  2025-04-11 03:19:00  0 days 00:02:00

            date      time  month
1436  2025-04-11  03:08:00      4
1437  2025-04-11  03:11:00      4
1438  2025-04-11  03:15:00      4
1439  2025-04-11  03:17:00      4
1440  2025-04-11  03:19:00      4

### 3) Use the .sort_values() method

In [4]:
# Sort_values will sort by the first column listed, then the second column.
# The ascending status can also differ for each column being sorted by.

# I can see that a time difference of 0 is the smallest time difference.
# The most current date this time difference occured at is April 11, 2025.
timestamp.sort_values(by=['time_diff', 'date_time'], ascending=[True, False])

,Unnamed: 0,timestamp,date_time,time_diff,date,time,month
1431,1431,2025-04-11 03:04,2025-04-11 03:04:00,0 days 00:00:00,2025-04-11,03:04:00,4
1432,1432,2025-04-11 03:04,2025-04-11 03:04:00,0 days 00:00:00,2025-04-11,03:04:00,4
1433,1433,2025-04-11 03:04,2025-04-11 03:04:00,0 days 00:00:00,2025-04-11,03:04:00,4
1434,1434,2025-04-11 03:04,2025-04-11 03:04:00,0 days 00:00:00,2025-04-11,03:04:00,4
1435,1435,2025-04-11 03:04,2025-04-11 03:04:00,0 days 00:00:00,2025-04-11,03:04:00,4
...,...,...,...,...,...,...,...
1314,1315,2025-04-07 10:08,2025-04-07 10:08:00,1 days 18:39:00,2025-04-07,10:08:00,4
572,572,2025-03-20 05:44,2025-03-20 05:44:00,2 days 00:09:00,2025-03-20,05:44:00,3
743,743,2025-03-24 04:40,2025-03-24 04:40:00,2 days 03:45:00,2025-03-24,04:40:00,3
1260,1260,2025-04-05 13:12,2025-04-05 13:12:00,2 days 07:45:00,2025-04-05,13:12:00,4
0,0,2025-03-15 02:10,2025-03-15 02:10:00,NaN,2025-03-15,02:10:00,3

## **Question 2**:  How can I perform statistical operations (mean, median, mode, standard deviation) on a dataset and store the results of these operations in an easy-to-read table?

### 1) Load in your data.

In [5]:
# I will be working with my dataset from Project 4.

fish_catch = pd.read_csv('/fish-catch-gear-type.csv')

In [6]:
print(fish_catch.head())

  Entity      Code  Year  unknown_gear   other_gear     longline      gillnet  \
0  World  OWID_WRL  1950   1135520.017  5611348.239  676257.2110  1120425.835
1  World  OWID_WRL  1951   1367037.471  5849082.212  688972.3635  1225727.644
2  World  OWID_WRL  1952   1419353.162  6140895.013  763147.1952  1252516.373
3  World  OWID_WRL  1953   1520077.746  6376196.441  810689.3551  1285729.317
4  World  OWID_WRL  1954   1692873.476  6793681.406  864504.4959  1481558.559

   small_scale  purse_seine  pelagic trawl  bottom_trawl  unknown_gear.1  \
0  7669648.137  3688878.091    1578129.095   6647678.197     1135520.017
1  8350990.921  3945469.027    1910049.218   6942004.814     1367037.471
2  8475154.117  4312867.361    1968274.208   7922492.454     1419353.162
3  8671445.761  4529348.903    2002819.389   7978912.472     1520077.746
4  9258341.606  4537513.282    2073000.649   9382986.702     1692873.476

   other_gear.1   longline.1    gillnet.1  small_scale.1  purse_seine.1  \
0   5611348.239  676257.2110  1120425.835    7669648.137    3688878.091
1   5849082.212  688972.3635  1225727.644    8350990.921    3945469.027
2   6140895.013  763147.1952  1252516.373    8475154.117    4312867.361
3   6376196.441  810689.3551  1285729.317    8671445.761    4529348.903
4   6793681.406  864504.4959  1481558.559    9258341.606    4537513.282

   pelagic trawl.1  bottom_trawl.1
0      1578129.095     6647678.197
1      1910049.218     6942004.814
2      1968274.208     7922492.454
3      2002819.389     7978912.472
4      2073000.649     9382986.702

### 2) Select the columns you want to work with. You need to check the data types stored in each column to know if you are working with numerical data.

In [7]:
# Other than the "Entity" and "Code" columns, all the columns contain numerical data.
fish_catch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Entity           69 non-null     object
 1   Code             69 non-null     object
 2   Year             69 non-null     int64
 3   unknown_gear     69 non-null     float64
 4   other_gear       69 non-null     float64
 5   longline         69 non-null     float64
 6   gillnet          69 non-null     float64
 7   small_scale      69 non-null     float64
 8   purse_seine      69 non-null     float64
 9   pelagic trawl    69 non-null     float64
 10  bottom_trawl     69 non-null     float64
 11  unknown_gear.1   69 non-null     float64
 12  other_gear.1     69 non-null     float64
 13  longline.1       69 non-null     float64
 14  gillnet.1        69 non-null     float64
 15  small_scale.1    69 non-null     float64
 16  purse_seine.1    69 non-null     float64
 17  pelagic trawl.1  69 non-null     float64
 18  bottom_trawl.1   69 non-null     float64
dtypes: float64(16), int64(1), object(2)
memory usage: 10.4+ KB

In [8]:
# Select the numerical columns you want to work with
numerical_cols = fish_catch[['Year', 'unknown_gear', 'other_gear', 'longline', 'gillnet', 'small_scale', 'purse_seine', 'pelagic trawl', 'bottom_trawl']]

### 3) Use .mean(), .median(), .mode(), and .std() to calculate the mean, median, and mode of the columns.

In [9]:
# Calculate mean, median, mode, and standard deviation for every column.
mean_values = numerical_cols.mean()
median_values = numerical_cols.median()
mode_values = numerical_cols.mode().iloc[0] # Mode can return multiple values, take the first
std_values = numerical_cols.std()

### 4) Create a data frame to store your results.

In [10]:
# Create a dictionary to store the results
stats_data = {
    'Mean': mean_values,
    'Median': median_values,
    'Mode': mode_values,
    'Standard Deviation': std_values
}

In [11]:
# Create a DataFrame from the dictionary
stats_table = pd.DataFrame(stats_data)

In [12]:
# Print the table
stats_table

                       Mean        Median          Mode  Standard Deviation
Year           1.984000e+03  1.984000e+03  1.950000e+03        2.006240e+01
unknown_gear   5.226484e+06  5.619028e+06  1.135520e+06        1.890510e+06
other_gear     1.004559e+07  1.065024e+07  5.611348e+06        2.008352e+06
longline       2.318773e+06  2.296639e+06  6.762572e+05        7.834010e+05
gillnet        2.196679e+06  1.801452e+06  8.800202e+05        1.028247e+06
small_scale    1.571049e+07  1.579578e+07  7.669648e+06        3.962806e+06
purse_seine    2.345297e+07  2.439291e+07  3.688878e+06        9.898701e+06
pelagic trawl  8.507114e+06  9.343134e+06  1.578129e+06        4.732535e+06
bottom_trawl   2.316724e+07  2.547394e+07  6.647678e+06        6.924549e+06

## **Question 3**: How can I normalize numerical data?

### Technique 1: Standard Deviation

#### 1) Load in the dataframe

In [13]:
## I will be working with the fish dataframe I used in Question 2.
fish_catch_std = fish_catch.copy()

#### 2) Divide the values in each numerical column by their standard deviation.  Create new columns to store the normalized values.

In [14]:
# To scale the the columns, I will divide their values by their standard
# deviations and create new columns in the dataframe to store the scaled values.
for col in numerical_cols:
  new_col_name = col + ' std_scaled'
  column = fish_catch_std[col]
  fish_catch_std[new_col_name] = column / column.std()

In [15]:
# The mean of the scaled columns should be 0, and the standard deviation should be 1.
print(fish_catch_std.head())

  Entity      Code  Year  unknown_gear   other_gear     longline      gillnet  \
0  World  OWID_WRL  1950   1135520.017  5611348.239  676257.2110  1120425.835
1  World  OWID_WRL  1951   1367037.471  5849082.212  688972.3635  1225727.644
2  World  OWID_WRL  1952   1419353.162  6140895.013  763147.1952  1252516.373
3  World  OWID_WRL  1953   1520077.746  6376196.441  810689.3551  1285729.317
4  World  OWID_WRL  1954   1692873.476  6793681.406  864504.4959  1481558.559

   small_scale  purse_seine  pelagic trawl  ...  bottom_trawl.1  \
0  7669648.137  3688878.091    1578129.095  ...     6647678.197
1  8350990.921  3945469.027    1910049.218  ...     6942004.814
2  8475154.117  4312867.361    1968274.208  ...     7922492.454
3  8671445.761  4529348.903    2002819.389  ...     7978912.472
4  9258341.606  4537513.282    2073000.649  ...     9382986.702

   Year std_scaled  unknown_gear std_scaled  other_gear std_scaled  \
0        97.196733                 0.600642               2.794006
1        97.246578                 0.723105               2.912379
2        97.296422                 0.750778               3.057679
3        97.346267                 0.804057               3.174840
4        97.396111                 0.895459               3.382715

   longline std_scaled  gillnet std_scaled  small_scale std_scaled  \
0             0.863233            1.089646                1.935408
1             0.879463            1.192055                2.107343
2             0.974146            1.218108                2.138675
3             1.034833            1.250408                2.188208
4             1.103527            1.440858                2.336309

   purse_seine std_scaled  pelagic trawl std_scaled  bottom_trawl std_scaled
0                0.372663                  0.333464                 0.960016
1                0.398585                  0.403600                 1.002521
2                0.435700                  0.415903                 1.144117
3                0.457570                  0.423202                 1.152265
4                0.458395                  0.438032                 1.355032

[5 rows x 28 columns]

### Technique 2: Minimum and Maximum

#### 1) Load in the dataframe

In [16]:
fish_catch_minmax = fish_catch.copy()

#### 2) Use the formula, (value - min)/(max - min), to normalize the values.  Create new columns to store the normalized values.

In [17]:
# To scale the the columns, I will use the formula (value - min)/(max - min)
# and create new columns in the dataframe to store the scaled values.
for col in numerical_cols:
  new_col_name = col + ' minmax_scaled'
  column = fish_catch_minmax[col]
  min = column.min()
  max = column.max()
  fish_catch_minmax[new_col_name] = (column - min) / (max - min)

In [18]:
# The minimum value in each column should scale to 0, while the maximum value in each column should scale to 1.
print(fish_catch_minmax.head())

  Entity      Code  Year  unknown_gear   other_gear     longline      gillnet  \
0  World  OWID_WRL  1950   1135520.017  5611348.239  676257.2110  1120425.835
1  World  OWID_WRL  1951   1367037.471  5849082.212  688972.3635  1225727.644
2  World  OWID_WRL  1952   1419353.162  6140895.013  763147.1952  1252516.373
3  World  OWID_WRL  1953   1520077.746  6376196.441  810689.3551  1285729.317
4  World  OWID_WRL  1954   1692873.476  6793681.406  864504.4959  1481558.559

   small_scale  purse_seine  pelagic trawl  ...  bottom_trawl.1  \
0  7669648.137  3688878.091    1578129.095  ...     6647678.197
1  8350990.921  3945469.027    1910049.218  ...     6942004.814
2  8475154.117  4312867.361    1968274.208  ...     7922492.454
3  8671445.761  4529348.903    2002819.389  ...     7978912.472
4  9258341.606  4537513.282    2073000.649  ...     9382986.702

   Year minmax_scaled  unknown_gear minmax_scaled  other_gear minmax_scaled  \
0            0.000000                    0.000000                  0.000000
1            0.014706                    0.024262                  0.026978
2            0.029412                    0.029745                  0.060094
3            0.044118                    0.040301                  0.086796
4            0.058824                    0.058409                  0.134173

   longline minmax_scaled  gillnet minmax_scaled  small_scale minmax_scaled  \
0                0.000000               0.069750                   0.000000
1                0.004370               0.100301                   0.049692
2                0.029863               0.108073                   0.058748
3                0.046203               0.117710                   0.073064
4                0.064698               0.174526                   0.115868

   purse_seine minmax_scaled  pelagic trawl minmax_scaled  \
0                   0.000000                     0.000000
1                   0.006899                     0.022114
2                   0.016778                     0.025993
3                   0.022599                     0.028295
4                   0.022818                     0.032971

   bottom_trawl minmax_scaled
0                    0.000000
1                    0.011046
2                    0.047845
3                    0.049963
4                    0.102659

[5 rows x 28 columns]

## **Question 4**: How can I create a CSV file by merging two dataframes together, and save that CSV file to my computer?

### 1) Load in both csv_files

In [19]:
# I will be working with the two different normalized datasets I created in my answer to Question 3.

### 2) Find at least one column that the datasets share.

In [20]:
#The dataframes share a lot of columns! All of their columns are shared except for their scaled columns.
#We want to merge the dataframes without copying any of these shared columns.
print(fish_catch_std.columns)
print(fish_catch_minmax.columns)

Index(['Entity', 'Code', 'Year', 'unknown_gear', 'other_gear', 'longline',
       'gillnet', 'small_scale', 'purse_seine', 'pelagic trawl',
       'bottom_trawl', 'unknown_gear.1', 'other_gear.1', 'longline.1',
       'gillnet.1', 'small_scale.1', 'purse_seine.1', 'pelagic trawl.1',
       'bottom_trawl.1', 'Year std_scaled', 'unknown_gear std_scaled',
       'other_gear std_scaled', 'longline std_scaled', 'gillnet std_scaled',
       'small_scale std_scaled', 'purse_seine std_scaled',
       'pelagic trawl std_scaled', 'bottom_trawl std_scaled'],
      dtype='object')
Index(['Entity', 'Code', 'Year', 'unknown_gear', 'other_gear', 'longline',
       'gillnet', 'small_scale', 'purse_seine', 'pelagic trawl',
       'bottom_trawl', 'unknown_gear.1', 'other_gear.1', 'longline.1',
       'gillnet.1', 'small_scale.1', 'purse_seine.1', 'pelagic trawl.1',
       'bottom_trawl.1', 'Year minmax_scaled', 'unknown_gear minmax_scaled',
       'other_gear minmax_scaled', 'longline minmax_scaled',
       'gillnet minmax_scaled', 'small_scale minmax_scaled',
       'purse_seine minmax_scaled', 'pelagic trawl minmax_scaled',
       'bottom_trawl minmax_scaled'],
      dtype='object')

### 3) Merge the dataset on the shared columns.

In [21]:
# Since most of the columns in both dataframes are the same except the scaled columns, I will select multiple columns to merge on.
# I will be using the left merge method.
merged_df = pd.merge(fish_catch_std, fish_catch_minmax, on=['Entity', 'Code', 'Year', 'unknown_gear', 'other_gear', 'longline',
       'gillnet', 'small_scale', 'purse_seine', 'pelagic trawl',
       'bottom_trawl', 'unknown_gear.1', 'other_gear.1', 'longline.1',
       'gillnet.1', 'small_scale.1', 'purse_seine.1', 'pelagic trawl.1',
       'bottom_trawl.1',], how = 'left')
print(merged_df.head())

  Entity      Code  Year  unknown_gear   other_gear     longline      gillnet  \
0  World  OWID_WRL  1950   1135520.017  5611348.239  676257.2110  1120425.835
1  World  OWID_WRL  1951   1367037.471  5849082.212  688972.3635  1225727.644
2  World  OWID_WRL  1952   1419353.162  6140895.013  763147.1952  1252516.373
3  World  OWID_WRL  1953   1520077.746  6376196.441  810689.3551  1285729.317
4  World  OWID_WRL  1954   1692873.476  6793681.406  864504.4959  1481558.559

   small_scale  purse_seine  pelagic trawl  ...  bottom_trawl std_scaled  \
0  7669648.137  3688878.091    1578129.095  ...                 0.960016
1  8350990.921  3945469.027    1910049.218  ...                 1.002521
2  8475154.117  4312867.361    1968274.208  ...                 1.144117
3  8671445.761  4529348.903    2002819.389  ...                 1.152265
4  9258341.606  4537513.282    2073000.649  ...                 1.355032

   Year minmax_scaled  unknown_gear minmax_scaled  other_gear minmax_scaled  \
0            0.000000                    0.000000                  0.000000
1            0.014706                    0.024262                  0.026978
2            0.029412                    0.029745                  0.060094
3            0.044118                    0.040301                  0.086796
4            0.058824                    0.058409                  0.134173

   longline minmax_scaled  gillnet minmax_scaled  small_scale minmax_scaled  \
0                0.000000               0.069750                   0.000000
1                0.004370               0.100301                   0.049692
2                0.029863               0.108073                   0.058748
3                0.046203               0.117710                   0.073064
4                0.064698               0.174526                   0.115868

   purse_seine minmax_scaled  pelagic trawl minmax_scaled  \
0                   0.000000                     0.000000
1                   0.006899                     0.022114
2                   0.016778                     0.025993
3                   0.022599                     0.028295
4                   0.022818                     0.032971

   bottom_trawl minmax_scaled
0                    0.000000
1                    0.011046
2                    0.047845
3                    0.049963
4                    0.102659

[5 rows x 37 columns]

In [22]:
# There are no repeating column names, so the merge worked correctly.
print(len(merged_df.columns))
print(len(merged_df.columns.unique()))

37
37

### 4) Save the merged dataframe as a csv file.  You will need to download the file to your computer (it will be located in the files tab to the left).

In [23]:
#to_csv() creates a csv file from the pandas dataframe.
#Index=false prevents the csv file from containing a column for the index.

merged_df.to_csv('merged_fish_data.csv', index=False)